{% extends 'base.html.twig' %}


{% block body %}
<div class="account-container" style="min-height: 60vh;">
    <h1 class="text-center mb-4">Mon compte</h1>
    
    <div class="row">
        <!-- Personal Information Card -->
        <div class="col-lg-6 mb-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Mes informations Administrateur</h4>
                </div>
                <div class="card-body">
                    <div class="mb-2">
                        <span class="data-label">Email:</span> {{ app.user.email }}
                    </div>
                    <div class="row">
                        <div class="col-6 mb-2">
                            {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                            <div class="mt-4">
                                <a href="{{ path('admin')}}" class="btn btn-custom-primary">
                                <i class="fas fa-cogs me-2"></i>Administration
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-6 mb-2">
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class="dropdown">
                                <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="adminDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user-shield"></i> Chat Admin
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('admin_dashboard') }}">
                                            <i class="fas fa-tachometer-alt"></i> Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('admin_chat_rooms') }}">
                                            <i class="fas fa-comments"></i> Chat Rooms
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_account') }}">
                                            <i class="fas fa-cog"></i> Paramètres
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <div class="d-flex flex-wrap justify-content-evenly w-100">
                        <a href="{{ path('app_account_modify_pwd') }}" class="btn btn-outline-primary mb-2 mb-md-0">
                            <i class="fas fa-key me-2"></i>Modifier mot de passe
                        </a>
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">
                            <i class="fas fa-sign-out-alt me-2"></i>Déconnexion
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}


