<div class="d-flex justify-content-evenly align-items-center my-5 mx-auto flex-wrap" id="services">
    <h1 class="title-services">Plusieurs services, dont :</h1>
    <div class="card-services d-flex flex-column col-md-3 col-sm-12 align-items-right justify-content-between">
        <img class="img-services " src='{{ asset('build/images/cm.png') }}' alt="client mystère"/>
        <h4 class="titre-services">Client mystère</h4>  
        <p class="txt-services">Nos agents infiltrés évaluent anonymement la qualité de vos services et l’expérience client.</p>
        <a href="{{ path('app_mystere')}}">
        <p class="link-services">En savoir plus</p>
        </a>
    </div>
        <div class="card-services d-flex flex-column col-md-3 col-sm-12 align-items-right justify-content-between">
        <img class="img-services " src='{{ asset('build/images/cep.png') }}' alt="contre-enquête pénale"/>
        <h4 class="titre-services">Contre-enquête pénale</h4>  
        <p class="txt-services">Nous collectons et analysons preuves et témoignages pour remettre en question les conclusions de l’enquête initiale.</p>
        <a href="{{ path('app_contact')}}">
        <p class="link-services">Uniquement par contact</p>
        </a>
    </div>
    <div class="card-services d-flex flex-column col-md-3 col-sm-12 align-items-right justify-content-between">
        <img class="img-services " src='{{ asset('build/images/a.png') }}' alt="divorce"/>
        <h4 class="titre-services">Adultère</h4>
        <p class="txt-services">Nos investigations discrètes confirment ou infirment les soupçons d’infidélité en toute confidentialité.</p>
        <a href="{{ path('app_divorce')}}">
        <p class="link-services">En savoir plus</p>
        </a>
    </div>
    <div class="card-services d-flex flex-column col-md-3 col-sm-12 align-items-right justify-content-betweent">
        <img class="img-services " src='{{ asset('build/images/cd.png') }}' alt="concurrence deloyale"/>
        <h4 class="titre-services">Concurrence déloyale</h4>  
        <p class="txt-services">Nous enquêtons sur les pratiques illégales de vos concurrents pour protéger vos intérêts et votre réputation.</p>
        <a href="{{ path('app_concurrence')}}">
        <p class="link-services">En savoir plus</p>
        </a>
    </div>
        <div class="card-services d-flex flex-column col-md-3 col-sm-12 align-items-right justify-content-between">
    <img class="img-services " src='{{ asset('build/images/fad.png') }}' alt="fraude assurance"/>
        <h4 class="titre-services">Fraude à l’assurance</h4>
        <p class="txt-services">Nous traquons toute anomalie et relevons les preuves terrain pour faire éclater les fraudes aux assureurs.</p>
        <a href="{{ path('app_contact')}}">
        <p class="link-services">Uniquement par contact</p>
        </a>
    </div>
    <div class="card-services d-flex flex-column col-md-3 col-sm-12 align-items-right justify-content-between">
        <img class="img-services " src='{{ asset('build/images/ama.png') }}' alt="arrêt maladie abusif"/>
        <h4 class="titre-services">Arrêt maladie abusif</h4> 
        <p class="txt-services">Nous vérifions la réalité des arrêts de travail pour déceler les abus et préserver vos droits.</p>
        <a href="{{ path('app_maladie')}}">
        <p class="link-services">En savoir plus</p>
        </a>
    </div>
</div>